* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# Preservar los saltos de línea del script de entrypoint:
bin/dev-entrypoint text eol=lf